matplotlib~=3.3.3
numpy~=1.19.4
opencv-python==4.2.0.34
pandas==1.0.4
scipy~=1.4.1
scikit-image~=0.14.2
tensorflow~=2.4.0
tensorflow-probability==0.11.1
joblib==0.17.0
future~=0.18.2
tqdm~=4.55.0
# ipympl==0.6.2
setuptools~=50.3.1
ipywidgets~=7.5.1
scikit-learn~=0.23.2